.DS_Store
build
build/
Products
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata
.xcodeproj/ !*.xcodeproj/project.pbxproj
*.xcodeproj/project.xcworkspace/xcuserdata/covernova1.xcuserdatad/
*.xcodeproj/project.xcworkspace/xcshareddata/
UserInterfaceState.xcuserstate